body {
    margin: 0;
}

.main {
    top: 0;
    width: 100%;
    height: 100vh;
    animation: animate 15s ease-in-out infinite;
}

@keyframes animate {
    0%,
    100% {
        background-image: url(bgimg/1.jpg);
    }
    25% {
        background-image: url(bgimg/2.jpg);
    }
    50% {
        background-image: url(bgimg/1.jpg);
    }
    75% {
        background-image: url(bgimg/4.jpg);
    }
}

.loginbox {
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    padding: 20px;
    border: 1px solid black;
}

.loginbox p {
    font-family: Verdana;
    margin-bottom: 2px;
    margin-top: 20px;
}

.loginbox input[type="text"],
input[type="tel"],
input[type="password"] {
    border: none;
    border-bottom: 2px solid black;
    background: transparent;
    font-family: times in romen;
    font-size: 16px;
    padding: 2px;
    width: 100%
}

.loginbox input[type="submit"] {
    font-family: Verdana;
    font-size: 15px;
    border-radius: 20px;
    background: transparent;
    width: 100%;
    margin-top: 10px;
    padding: 8px;
    color: white;
    background-color: #f37f2d;
}

.loginbox input[type="submit"]:hover {
    background-color: #f76262;
}

.login-links a {
    text-decoration: none;
    padding: 0;
    margin-top: 7px;
    font-size: 13px;
}

#logobox #logo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    top: -59px;
    position: absolute;
    left: calc(47% - 50px);
    border: 10px solid white;
}

h2 {
    padding: 30px;
}

.title {
    color: white;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#signupbox {
    top: 60%;
}

.error {
    margin-bottom: 0;
}